<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <base href="/">
</head>
<body>
<style>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 0;
  padding-top: 7vh;
}

.context {
  color: #000;
}

.main-container {
  min-height: 100%;
  position: relative;
}

footer {
  color: #000;
  text-align: center;
  padding: 8px;
}
</style>
  <div class="main-container">
    <div class="content-container">
      <div class="container">
        <div class="context">
          <p>
            Dear participants:
          </p>
          <p>
            Thank you for taking part in the experiment. I am a graduate student from Institute of Service Science, National Tsing Hua University, Taiwan, and I am currently conducting a cognitive study. You will later be asked to participate in two different and independent studies; one is a 2-page autobiographical memory task, and one is a brainstorming task. Both of the two studies will be presented and done on a website. After that, you will be transferred to answer a questionnaire as the last part. All the answers will be saved anonymously. The whole experiment might take approximately 30 to 40 minutes depending on the person.
          </p>
          <p>
            <b>Notes:</b>
            <ul>
              <li>
                Please complete the tasks via PC or laptop.
              </li>
              <li>
                First time login could be slow, please wait patiently.
              </li>
              <li>
                Please leave the experiment if you find you have done it before.
              </li>
            </ul>
          </p>
          <p>
            To begin, please press the button below.
          </p>
        </div>
        <button onclick="javascript:location.href='/creativity'">START</button>
      </div>
    </div>
    <div class="footer-container">
      <footer>
        &copy;2016 CHENLIZHAN ALL RIGHTS RESERVED
      </footer>
    </div>
  </div>

  <script src="/javascripts/script.js"></script>
</body>
</html>