<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/themes/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/alertify.min.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <base href="/">
</head>
<body ng-controller="AppCtrl">
  <div class="main-container">
    <div class="header-container">
      <% include partials/header.ejs %>
    </div>

    <div class="content-container">
      <div ui-view style="height: 100%;"></div>
    </div>

    <div class="footer-container">
      <% include partials/footer.ejs %>
    </div>
  </div>

  <!-- Library -->
  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/javascripts/alertify.min.js"></script>
  <script src="/components/moment/min/moment.min.js"></script>
  <script src="/components/moment/min/locales.min.js"></script>
  <script src="/components/humanize-duration/humanize-duration.js"></script>
  <script src="/components/angular-timer/dist/angular-timer.min.js"></script>

  <!-- Customize -->
  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/controller.js"></script>
</body>
</html>