html, div, header, body, footer, .header-container, .content-container, .footer-container {
  padding: 0;
  margin: 0;
}

html, div, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body, .main-container {
  height: 100%;
}

.header-container {
  height: 10%;
}

.content-container {
  /*padding: 1em;*/
  height: 87%;
}

.footer-container {
  height: 3%;
  padding: 1px;
}

a {
  color: #00B7FF;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 1.5em;
  border-radius: 7px;
  cursor: pointer;
  width: 200px;
  height: 10%;
  margin: 1%;
}