<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .context {
    width: 60%;
  }

  .container p {
    font-size: 1.5em;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit eligendi suscipit ipsam iste ut velit architecto totam repellendus! Vel consequuntur quae, veniam obcaecati debitis animi dignissimos fugiat odio error veritatis corporis dolore illum reprehenderit ullam eius voluptatum quisquam et hic laudantium facere nulla magnam quam minima repudiandae deleniti. Ad ullam laborum ex itaque quam illum doloribus numquam. Vero ad perferendis nihil odio atque adipisci ut ipsa, eveniet ex officia nobis ea corrupti libero cupiditate explicabo nulla sit ipsam, repellat rem labore, sapiente qui! Voluptatem, cum corporis provident assumenda officiis, reprehenderit aut minima, fuga nam eos quam nesciunt? Nesciunt, ducimus facilis.
    </p>
  </div>
  <button ng-click="goBrainStorming()">START</button>
</div>
