<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .context {
    width: 60%;
  }

  .container p {
    font-size: 1.5em;
  }

  .input-textarea {
    /*margin-bottom: 0.5px;*/
    width: 60%;
    height: 50%;
    font-size: 1.5em;
    background-color: #dcdcdc;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam.
    </p>
  </div>
  <textarea class="input-textarea" name="" id="" autofocus></textarea>
  <button ng-click="goFinal()" style="margin-left: 52%;">SUBMIT</button>
</div>
