<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

</style>
<div class="container">
  <div class="context">
    <p>
      Thank you for your contributions! You have completed 95% of the experiment. The last step is to finish a questionnaire.
    </p>
    <p style="font-weight: bolder; font-size: 3vh">
      Your personal ID is <span class="emphasize-text">A60</span>. Please memorize this code and fill it in the very first blank in the questionnaire.
    </p>
    <p>
      To begin, please click the “GO” button below.
    </p>
  </div>
  <button ng-click="goForm()">GO</button>
</div>
