<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  div.context {
    margin: 7px;
  }

  .input-textarea {
    height: 150px;
  }
</style>
<div class="container">
  <div class="context">
    <p>In this part, please use a maximum of 200 words to answer each single question.</p>
    <span>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veniam!</span>
  </div>
  <textarea class="input-textarea" name="" id="" autofocus></textarea>
  <br>
  <div class="context">
    <span>2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veniam!</span>
  </div>
  <textarea class="input-textarea" name="" id=""></textarea>
  <br>
  <div class="context">
    <span>3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veniam!</span>
  </div>
  <textarea class="input-textarea" name="" id=""></textarea>
  <br>
  <div class="context">
    <span>4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, veniam!</span>
  </div>
  <textarea class="input-textarea" name="" id=""></textarea>
  <button ng-click="goThird()">SUBMIT</button>
</div>
