<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url('/images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .context {
    width: 60%;
    text-align: left;
  }

  .container p {
    font-size: 4em;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: bolder;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      IdeaPool is a community <br>
      delivering fresh solutions with <br>
      creative power of collaboration <br>
    </p>
  </div>
  <button ng-click="start()">START</button>
</div>
