<style>
  .container-big {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-container {
    background-image: url('/images/Optimized-background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .context-big {
    text-align: left;
    margin-top: 10%;
  }

  .container-big p {
    font-size: 7vh;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: bolder;
    margin: 0;
  }

  button {
   font-size: 3.5vh;
   width: 230px;
   height: 70px;
  }
</style>
<script>
  var backImage = new Image();
  backImage.src = "/images/Optimized-background.jpg";
</script>
<div class="container-big">
  <div class="context-big">
    <p>
      IdeaPool is a community <br>
      delivering fresh solutions with <br>
      creative power of collaboration <br>
    </p>
  </div>
  <button ng-click="start()">START</button>
</div>
