<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

</style>
<div class="container">
  <div class="context">
    <p>
      As one of the America’s best supermarket chain, we decide to build a prototype of a future supermarket. We are interested
      in customers’ desire, needs, and imagination of the supermarket in the future. Therefore we would like to invite you to
      involve in the idea generation process.
    </p>
    <p class="emphasize-text">
      You will later be led to a 10-minute brainstorming task, submitting ideas regarding how you think a future supermarket may
      be like or what elements it may have.
    </p>
    <p>
      Here are four key rules that are useful during a brainstorming session:
      <ul>
        <li>Quantity is wanted</li>
        <li>Freewheeling is welcomed</li>
        <li>Combine and improve ideas</li>
        <li>Criticism is ruled out</li>
      </ul>
    </p>
    <p>To begin, please click the “START” button below.</p>
  </div>
  <button ng-click="goBrainStorming()">START</button>
</div>
