<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

</style>
<div class="container">
  <div class="context">
    <p>
      Thank you for your contributions! You have completed 95% of the experiment. The last step is to finish a questionnaire.
    </p>
    <p style="font-weight: bolder; font-size: 3vh">
      Your personal survey code is <span class="emphasize-text">{{ uid }}</span>. Please copy this code and paste it in the first blank in the questionnaire as well as the blank on Amazon Mechanical Turk (after you finish the questionnaire).
    </p>
    <p>
      To begin, please click the “GO” button below.
    </p>
    <iframe src="https://docs.google.com/forms/d/1syErmWgr0xB3oPUYA1V4B2x_a89EAbb7fE1mZ95W2IQ/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
  </div>
  <button ng-click="goForm()">GO</button>
</div>
