<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      In this part, please write a paragraph about <span class="emphasize-text">all</span> of the different identities that you have (i.e., social identities, gender, race,
      family identities, group identities, etc.). Write about how these multiple identities overlap and affect your life and what they
      mean to you. <br>
    </p>
    <p style="margin-bottom: 0;">
      Examples:
      <ul>
        <li>I am a resident in New York and the captain of our community’s cheerleading squad.</li>
        <li>I work as a bartender at night while I am a college student during day time.</li>
        <li>I am my daughter’s mom as well as her personal assistant.</li>
      </ul>  
    </p>
  </div>
  <textarea class="input-textarea" name="" id="" ng-model="creativeMSIP" autofocus></textarea>
  <button ng-click="goSecond()">SUBMIT</button>
</div>
