<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      In this part, please write a paragraph about <span class="emphasize-text topic">all</span> of the different identities that you have (i.e., social identities, gender, race,
      family identities, group identities, etc.). Write about how these multiple identities overlap and affect your life and what they
      mean to you. <br>
    </p>
    <p style="margin-bottom: 0;">
      Examples:
      <ul>
        <li>I am a girl.</li>
        <li>I am an NYU student and the captain of our cheerleading squad. Being a member of the cheerleading team gives me confidence and teaches me how to be part of a team.</li>
        <li>I work as a bartender at night while I am a college student during day time. I often feel tired when attending classes or studying because of working late, however I really need this job to pay my tuition.</li>
      </ul>  
    </p>
  </div>
  <textarea class="input-textarea" name="" id="" ng-model="creativityMSIP" autofocus></textarea>
  <button ng-click="goSecond()">SUBMIT</button>
</div>
