<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      In this part, please write a paragraph about your average day, things you typically do, places you go, etc.
     <br>
    </p>
  </div>
  <textarea class="input-textarea" name="" id="" ng-model="originalMSIP" autofocus></textarea>
  <button ng-click="goSecond()">SUBMIT</button>
</div>
