<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .input-textarea {
    height: 150px;
  }

  li.ideas {
    color: #FFC000;
  }
</style>
<div class="container">
  <div class="context">
    <p>
      In the space provided, please enter any new idea that you think of.
    </p>
    <p>
      <b>Rule 1.</b> Please enter only 1 idea at a time. When you want to submit next idea, press “submit idea” first.
    </p>
    <p>
      <b>Rule 2.</b> As soon as you type the first character, the stopwatch is started. It will stop after 15 minutes and go to the next page. 
    </p>
    <p>
      <b>Rule 3.</b> Your ideas will be presented below the box.
    </p>
    <p class="topic" style="color: #1AADC3">Topic: How a future supermarket may be like? What elements it may have?<span class="emphasize-text" style="float: right;"><timer autostart="false" countdown="900" max-time-unit="'minute'" interval="1000">{{mminutes}} : {{sseconds}}</timer></span></p>
  </div>
  <textarea class="input-textarea" name="" id="" ng-model="idea" ng-focus="timerStart()"></textarea>
  <button ng-click="submitIdea(idea)" style="margin-left: 48%;">SUBMIT IDEA</button>
  <div class="context">
    <p>
      <ul>
        <li class="ideas" ng-repeat="idea in ideaPools track by $index"><span style="color: #758698;">{{ idea }}</span></li>
      </ul>
    </p>
  </div>
</div>
